.bookings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 1440px;
  min-height: 500px;
  border-radius: 15px;
  background: #262626;
}
