.dashboard {
  font-family: "Montserrat", sans-serif;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #242424;
  color: white;

  gap: 20px;

  h1 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 10px;
  }
}
