.dashboard-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.dashboard-tabs-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #262626;

  gap: 10px;

  padding: 30px;
}

.dashboard-tabs-trigger {
  background: #171717;
  color: white;
  padding: 20px;
  cursor: pointer;

  &:hover {
    background: #333333;
  }
}